<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
  </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <title>sth</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
  </head>
  <body>
    <a href="/new">New message</a>
    <ul>
      <% for(const msg of messages) {%>
      <li>
        <div><%=msg.added%></div>
        <div><strong><%=msg.user%></strong></div>
        <%=msg.text%>
      </li>
      <% } %>
    </ul>
  </body>
</html>
